.conteiner{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.conteiner:hover {
left: 0px;
top: 0px;
left: 0px;
right: 0px;
    background-color: rgb(39, 131, 218);
}
tr:nth-of-type(odd) {
    background-color: blue;
}
tr:nth-of-type(even) {
    background-color: blue;
}

table {
    width: 1000px;
    height: 1000px;
}
 
